img.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.border-circle {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 9em;
  box-shadow: inset 0 0 0 5px #2E4053;
}
